/* App.css */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centers horizontally */
      height: 100vh;  /* Full viewport height */
    text-align: center;  /* Ensures text alignment within the container */
  }
  
  .centered-heading {
    font-size: 36px;  /* Adjust the size as needed */
    color: #333;      /* Custom color */
    margin: 20px 0;   /* Adjust spacing */
  }
  